<nav class="navbar navbar-default " style= "background-color:cadetblue; color:'white';padding:0px 0px 30px 0px" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:white; font-size:22px"   href="/">
       <%= image_tag('book_stack.png',size: "50x50") %>
      Classroom App
      <p>By: Martín Macías</p>
      </a>
    </div>
  </div>
</nav>