<div class="row" style="font-size:20px">
	<div class="col-sm-8 col-md-offset-2">
<h1>Editing Project</h1>
</div>
</div>
<%= render 'form' %>
<div class="col-sm-8 col-md-offset-2" style="font-size:20px">
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
</div>
