<div class="row" style="font-size:20px">
	<div class="col-sm-8 col-md-offset-2">
<h1>Editing Activity</h1>
</div>
</div>
<%= render 'form' %>
<div class="col-sm-8 col-md-offset-2" style="font-size:20px">
<%= link_to 'Show', @activity %> |
<%= link_to 'Back', activities_path %>
</div>