<div class="row">
	<div class="col-sm-8 col-md-offset-2">
	<h1>New Activity
	</h1>	
</div>
</div>
<%= render 'form' %>
<div class="col-sm-8 col-md-offset-2">
<%= link_to 'Back', activities_path %>
</div>
